{project_plugins, [rebar3_format]}.

{erl_opts, [debug_info]}.

{deps, []}.

{format,
 [{files, ["config/sys.config", "rebar.config", "src/**/*.app.src", "src/**/*.?rl"]}]}.

{relx,
 [{release, {timetracker, {git, short}}, [timetracker, sasl]},
  {dev_mode, true},
  {include_erts, true},
  {extended_start_script, true}]}.
