%% -*- erlang -*-

[{kernel,
  [{logger_level, debug},
   {logger,
    [{handler,
      default,
      logger_std_h,
      #{level => info,
        filters => [],
        formatter => {logger_formatter, #{single_line => true, legacy_header => false}},
        config => #{file => "timetracker.log"}}}]}]},
 {timetracker,
  [{inactivity_threshold, 60},
   {activity_check_interval, 1000}, %% milliseconds
   {workday_length, 28800}, %% 8 hrs
   {save_dir, "/tmp/timetracker"},
   {sources,
    [{tt_xinput_source, kbd, [11]},
     {tt_xinput_source, mouse, [14]},
     {tt_video_source, webcam, []}]}]}].
