%% -*- erlang -*-

[{kernel,
  [{logger_level, debug},
   {logger,
    [{handler,
      default,
      logger_std_h,
      #{level => debug,
        filters => [],
        formatter => {logger_formatter, #{single_line => true, legacy_header => false}},
        config => #{file => "timetracker.log"}}}]}]},
 {timetracker,
  [{inactivity_threshold_secs, 180}, %% 3 minutes
   {activity_check_interval_ms, 1000}, %% how often to check input sources
   {workday_length_secs, 28800}, %% 8 hrs
   {save_dir, "/tmp/timetracker"},
   {sources,
    [{tt_xinput_source, kbd, [11]},
     {tt_xinput_source, mouse, [14]},
     {tt_video_source, webcam, []}]}]}].
